#description-text,
#video-frame {
  border: 1px solid #000000;
  margin: 10px;
}

#intro,
#form-description,
#browserui-description {
  margin: 10px !important;
  padding: 10px;
}

#video-frame {
  
}

iframe {
  display: block;
  margin: 10px;
}
